* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  background-color: black;
  height: 100vh;
  display: flex;
}
.create-task-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 40%;
}
.task-label {
  color: white;
  font-size: 17px;
  font-family: Roboto;
  margin-bottom: 10px;
  margin-top: 45px;
}
.input {
  padding: 8px;
  color: #64748b;
  border-radius: 5px;
  width: 50%;
  outline: none;
  cursor: pointer;
}
.add-task-btn {
  width: 30%;
  background-color: #f3aa4e;
  padding: 8px;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}
.main-heading {
  color: #f3aa4e;
}
.tags-container {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tag-item {
  list-style-type: none;
}
.inactive-button {
  background-color: transparent;
  border: 2px solid white;
  padding: 8px;
  color: white;
  border-radius: 8px;
  width: 120px;
  cursor: pointer;
}
.task-container {
  width: 60%;
  padding-top: 2%;
}
.tags-heading {
  color: white;
  font-size: 28px;
}
.not-task {
  color: white;
  font-size: 23px;
  margin-top: 200px;
  margin-left: 200px;
}
.list-of-tasks-container {
  padding-left: 0px;
  height: 65vh;
  overflow-y: auto;
}
.task-name {
  color: white;
}
.tag-name {
  background-color: #f3aa4e;
  padding: 4px;
  font-size: 14px;
  color: #000000;
  border-radius: 20px;
  min-width: 100px;
  text-align: center;
  font-weight: 500;
}
.task-item {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
}
.active-button {
  background-color: #f3aa4e;
  border: 2px solid #f3aa4e;
  padding: 8px;
  color: black;
  border-radius: 8px;
  width: 120px;
  cursor: pointer;
}
